<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logeachi online shoping in Bangladesh</title>

  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="../static/assets/images/logo/favicon.jpeg" type="image/x-icon">

  <!--
    - custom css link
  -->
  <!-- footer css -->
  <link rel="stylesheet" href="{% static '../static/assets/css/footer.css' %}">

  <!-- home css -->
  <link rel="stylesheet" href="{% static '../static/assets/css/style.css' %}">

  <!-- hedaer css -->
  <link rel="stylesheet" href="{% static '../static/assets/css/header.css' %}">

  <!-- singel product css -->
  <link rel="stylesheet" href="{% static '../static/assets/css/singel_product.css' %}">



  <!--
    - google font link
  -->
  <link rel="preconnect" href="{% static 'https://fonts.googleapis.com' %}">

  <link rel="preconnect" href="{% static 'https://fonts.gstatic.com' %}" crossorigin>

  <link href="{% static 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap' %}"
    rel="stylesheet">

  <link rel="{% static 'stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}">


  <!---Boxicons CDN Setup for icons-->
    <link href="{% static 'https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'> %}">
  

</head>

<body>

    {% include "include/header.html" %}
    {% block content %}
      

    
    {% endblock content %}
    {% include "include/footer.html" %}






  <!--
    - custom js link
  -->

  <!-- home js -->
  <script src="{% static '../static/assets/js/script.js' %}"></script>

  <!--singel product js-->
  <script src="{% static '../static/assets/js/singel_product.js' %}"></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="{% static 'https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js' %}"></script>
  <script nomodule src="{% static 'https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js' %}"></script>

</body>

</html>