<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logeachi online shoping in Bangladesh</title>

  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="../static/assets/images/logo/favicon.jpeg" type="image/x-icon">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="{% static '../static/assets/css/style.css' %}">
  <!--
    - google font link
  -->
  <link rel="preconnect" href="{% static 'https://fonts.googleapis.com' %}">
  <link rel="preconnect" href="{% static 'https://fonts.gstatic.com' %}" crossorigin>
  <link href="{% static 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap' %}"
    rel="stylesheet">
  <link rel="{% static 'stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}">

</head>

<body>


  <div class="overlay" data-overlay></div>

  <!--
    - MODAL
  -->

  <header>

    <div class="header-top">

      <div class="container">
        <div class="header-alert-news">
          <p class="alert-text">
            <span>
              <b class="boold-alert">BUY ONE GET ONE OFFER</b>
              This Week Order Over - 1000tk
            </span>
          </p>
        </div>

        <div class="header-top-actions">

          <select name="currency">

            <option value="usd">TK &#2547;</option>
            <option value="eur">USD &dollar;</option>

          </select>

          <select name="language">
            <option value="en-US">English</option>
            <option value="বাংলা">বাংলা</option>
          </select>

        </div>

      </div>

    </div>

    <div class="header-main">

      <div class="container">

        <a href="/admin" class="header-logo">
          <img src="../static/assets/images/logo/logo.png" alt="Logeachi's logo" width="200" height="50">
        </a>

        <div class="header-search-container">

          <input type="search" name="search" class="search-field" placeholder="Enter your product name...">

          <button class="search-btn">
            <ion-icon name="search-outline"></ion-icon>
          </button>

        </div>

        <div class="header-user-actions">

          <button title="View Profile" class="action-btn">
            <a href="#">
              <img style="height: 30px;width: 30px;" src="../static/assets/images/icons/user.png" alt="">
            </a>
          </button>

          <button title="Wishlist" class="action-btn">
            <img style="height: 30px;width: 30px;" src="../static/assets/images/icons/wishlist.png" alt="">
          </button>

          <button title="Cart" class="action-btn">
            <img style="height: 30px;width: 30px;" src="../static/assets/images/icons/cart.png" alt="">
          </button>

        </div>

      </div>

    </div>

    <nav class="desktop-navigation-menu">

      <div class="container">

        <ul class="desktop-menu-category-list">

          <li class="menu-category">
            <a href="{% url 'home' %}" class="menu-title">Home</a>
          </li>

          <li class="menu-category">
            <a href="#" class="menu-title">Cloths</a>
          </li>

          <li class="menu-category">
            <a href="#" class="menu-title">Footwear</a>
          </li>

          <li class="menu-category">
            <a href="#" class="menu-title">Jewelry</a>
          </li>

          <li class="menu-category">
            <a href="#" class="menu-title">Glasses</a>
          </li>

          <li class="menu-category">
            <a href="#" class="menu-title">Perfume</a>
          </li>

          <li class="menu-category">
            <a href="#" class="menu-title">Bags</a>
          </li>

          <li class="menu-category">
            <a href="#" class="menu-title">Cosmetics</a>
          </li>

          <li class="menu-category">
            <a href="#" class="menu-title">Hot Offers</a>
          </li>

        </ul>

      </div>

    </nav>

  </header>


  <!--
    - MAIN
  -->

  <main>

    <!--
      - BANNER
    -->

    <div class="banner">

      <div class="container">

        <div class="slider-container has-scrollbar">

          <div class="slider-item">

            <img src="../static/assets/images/banner-1.jpg" alt="women's latest fashion sale" class="banner-img">

            <div class="banner-content">

              <p class="banner-subtitle">Trending item</p>

              <h2 class="banner-title">Women's latest fashion sale</h2>

              <p class="banner-text">
                starting at &#2547; <b>700</b>
              </p>

              <a href="#" class="banner-btn">Shop now</a>

            </div>

          </div>

          <div class="slider-item">

            <img src="../static/assets/images/banner-2.jpg" alt="modern sunglasses" class="banner-img">

            <div class="banner-content">

              <p class="banner-subtitle">Trending accessories</p>

              <h2 class="banner-title">Modern sunglasses</h2>

              <p class="banner-text">
                starting at &#2547; <b>400</b>
              </p>

              <a href="#" class="banner-btn">Shop now</a>

            </div>

          </div>

          <div class="slider-item">

            <img src="../static/assets/images/banner-3.jpg" alt="new fashion summer sale" class="banner-img">

            <div class="banner-content">

              <p class="banner-subtitle">Sale Offer</p>

              <h2 class="banner-title">New fashion summer sale</h2>

              <p class="banner-text">
                starting at &#2547; <b>800</b>
              </p>

              <a href="#" class="banner-btn">Shop now</a>

            </div>

          </div>

        </div>

      </div>

    </div>

    <!--
      - PRODUCT
    -->

    <div class="product-container">
      <div class="container">
        <div class="product-box">  
          <div class="product-minimal">
            {% for category in categories %}
              <div class="product-showcase">
                  <h2 class="title">{{category.category_name}}</h2>
                  <div class="showcase-wrapper has-scrollbar">
                    {% for product in products %}
                      <div class="showcase-container">
                          <div class="showcase">
                            <a href="#" class="showcase-img-box">
                              <img src="{{product.image.url}}" style="height: 200px; width: 150px;">
                            </a>
                            <div class="showcase-content">
                              <a href="{% url 'get_product' product.slug %}">
                                <h4 class="showcase-title">{{product.product_name}}</h4>
                              </a>
                              <a href="#"class="showcase-category">  
                                {{product.category}}
                              </a>
                              <div class="price-box">
                                <p class="price">&#2547 {{product.price}}</p>
                                <!-- <del>&#2547 678</del> -->
                              </div>
                            </div>
                          </div>
                      </div>
                    {% endfor %}
                  </div>
              </div>
            {% endfor %}
          </div>
        </div>  
      </div>
    </div>
    

    <!--
      -CTA & SERVICE
    -->

    <div class="cta-service">
    
      <!--
        - CTA
      -->

      <div class="cta-container">

        <img src="../static/assets/images/cta-banner.jpg" alt="summer collection" class="cta-banner">

        <a href="#" class="cta-content">

          <p class="discount">Upto 25% Discount</p>

          <h2 class="cta-title">Summer collection</h2>

          <p class="cta-text">Starting at &#2547 999</p>

          <button class="cta-btn">Shop now</button>

        </a>

      </div>

      <!--
        - SERVICE
      -->

      <div class="service">

        <h2 class="title">Our Services</h2>

        <div class="service-container">

          <a href="#" class="service-item">

            <div class="service-icon">
              <ion-icon name="boat-outline"></ion-icon>
            </div>

            <div class="service-content">

            <h3 class="service-title">Free Delivery</h3>
            <p class="service-desc">For Order Over &#2547 3000</p>

            </div>

          </a>

          <a href="#" class="service-item">
        
            <div class="service-icon">
              <ion-icon name="rocket-outline"></ion-icon>
            </div>
        
            <div class="service-content">
          
              <h3 class="service-title">Next Day delivery</h3>
              <p class="service-desc">Inside Dhaka Only</p>
          
            </div>
        
          </a>

          <a href="#" class="service-item">
        
            <div class="service-icon">
              <ion-icon name="call-outline"></ion-icon>
            </div>
        
            <div class="service-content">
          
              <h3 class="service-title">Best Online Support</h3>
              <p class="service-desc">Hours: 10AM - 11PM</p>
          
            </div>
        
          </a>

          <a href="#" class="service-item">
        
          <div class="service-icon">
            <ion-icon name="arrow-undo-outline"></ion-icon>
          </div>
        
            <div class="service-content">
          
              <h3 class="service-title">Return Policy</h3>
              <p class="service-desc">Easy & Free Return</p>
          
            </div>
        
          </a>

          <a href="#" class="service-item">
        
            <div class="service-icon">
              <ion-icon name="ticket-outline"></ion-icon>
            </div>
        
            <div class="service-content">
          
              <h3 class="service-title">Upto 10% cash back</h3>
              <p class="service-desc">For Order Over &#2547 10000</p>
          
            </div>
          
          </a>

        </div>

      </div>

  </div>
 
  <!--
    - FOOTER
  -->

  <footer class="footer">
    <div class="footer-container">
      <div class="footer-top">
        <div class="row-1">
          <h4 class="h-1">BRAND DIRECTORY</h4>
          <span>FASHION :</span> <span><a class="ho" href="#"> T-Shirts </a> </span> | <span><a class="ho" href="#"> Shirts </a> </span> | <span><a class="ho"  href="#">Shorts & Jeans</a></span> | <span> <a  class="ho" href="#">Jacket</a>
              </span> | <span> <a class="ho" href="#">Dress & Frock</a> </span> | <span><a class="ho" href="#">Innerwear</a></span> | <span><a class="ho" href="#">Hosiery</a></span> <br>
            
          <span>FOOTWEAR :</span> <span><a class="ho" href="#">Sport</a> </span> | <span><a  class="ho" href="#">Formal</a> </span> | <span><a
            class="ho" href="#">Boots</a></span> | <span> <a class="ho" href="#">Casual</a>
              </span> | <span> <a class="ho" href="#">Cowboy Shoes</a> </span> | <span><a class="ho" href="#">Party Wear Shoes</a></span> | <span><a
                class="ho" href="#">Firstcopy</a></span> <br>
            
          <span>JEWELLERY :</span> <span><a class="ho" href="#">Necklace</a> </span> | <span><a class="ho" href="#">Earrings</a> </span> |<span><a  class="ho" href="#">Couple Rings</a></span> | <span> <a class="ho" href="#">Pendants</a>
                      </span> | <span> <a class="ho" href="#">Crystal</a> </span> | <span><a class="ho" href="#">Bangles</a></span> | <span><a class="ho" href="#">Bracelets</a></span> <br>
            
          <span>COSMETICS :</span> <span><a class="ho" href="#">Shampoo</a> </span> | <span><a class="ho" href="#">Bodywash</a> </span> | <span><a class="ho" href="#">Facewash</a></span> | <span> <a class="ho" href="#">Makeup Kit</a>
          </span> | <span> <a class="ho" href="#">Liner</a> </span> | <span><a class="ho" href="#">Lipstick</a></span> | <span><a class="ho" href="#">Body
            Soap</a></span> <br>
        </div>          
      </div>

      <div class="footer-bottom">
        <div class="footer-col">
          <h4 class="h-1"">Company</h4>
          <ul>
            <li><a class="ho" href="#">about us</a></li>
            <li><a class="ho" href="#">our services</a></li>
            <li><a class="ho" href="#">privacy policy</a></li>
            <li><a class="ho" href="#">affiliate program</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4 class="h-1">Get help</h4>
            <ul>
              <li></li><a class="ho" href="#">FAQ</a></li>
              <li><a class="ho" href="#">shipping</a></li>
              <li><a class="ho" href="#">returns</a></li>
              <li><a class="ho" href="#">order status</a></li>
              <li><a class="ho" href="#">payment options</a></li>
            </ul>
        </div>
        <div class="footer-col">
          <h4 class="h-1">Hot deals</h4>
          <ul>
            <li><a class="ho" href="#">watch</a></li>
            <li><a class="ho" href="#">bag</a></li>
            <li><a class="ho" href="#">shoes</a></li>
            <li><a class="ho" href="#">dress</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4 class="h-1">Contact us</h4>
          <ul>
            <li>+880XXXXXXX</li>
            <li>logeachi@support.com</li>
            <li>Dhaka,Bangladesh</li>
          </ul>
        </div>
        <div class="footer-col">
          <h4 class="h-1">Follow us</h4>
          <div class="social-links">
            <br>
            <a href="#" class="fa fa-facebook" style="color: black;"></a>
            <a href="#" class="fa fa-twitter" style="color: black;"></a>
            <a href="#" class="fa fa-instagram" style="color: black;"></a>
          </div>
        </div>
      </div>
      <img class="payment-img" src="../static/assets/images/payment.png" alt="payment-logo" >
      <br>
      <p class="copyright">
        Copyright &copy;logeachi.com all rights reserved.
      </p>
      <br>
    </div>
  </footer>

  <!--
    - custom js link
  -->
  <script src="{% static '../static/assets/js/script.js' %}"></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="{% static 'https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js' %}"></script>
  <script nomodule src="{% static 'https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js' %}"></script>

</body>

</html>