{% extends "base.html" %}

{% block content %}

<div class="signin-container">
  <form action="{% url 'signin' %}" method="POST" class="signin-form">
    {% csrf_token %}

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}> 
          <div class="form-alert">
            <span class="alert-closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{message}}
          </div>
        </li>
      {% endfor %}
    </ul>
    {% endif %}

    <h2  class="signin-title">Sign In</h2>
    <label for="username">E-mail</label>
    <input type="email" id="email" name="email" required>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    <div class="options">
      <a class="frgt-pass" href="#">Forgot Password?</a>
      <span> | </span>
      <a class="rtrn-singup" href="{% url 'signup' %}">Sign Up</a>
    </div>
    <button class="signin-btn" type="submit">Sign In</button>
  </form>
</div>

{% endblock content %}