{% extends "base.html" %}

{% block content %}

<div class="signin-container">
  <form class="signin-form">
    <h2  class="signin-title">Sign In</h2>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    <div class="options">
      <a class="frgt-pass" href="#">Forgot Password?</a>
      <span> | </span>
      <a class="rtrn-singup" href="{% url 'signup' %}">Sign Up</a>
    </div>
    <button class="signin-btn" type="submit">Sign In</button>
  </form>
</div>

{% endblock content %}