<footer>
    <div class="content">
        <div class="top">
            <ul>
                <li> 
                    <div class="logo-details">
                        <img src="../../static/assets/images/logo.png">
                    </div>
                </li>
                <li>
                    <div class="media-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        
                    </div>
                </li>
            </ul>
            <ul>
                <div class="help">
                    <li class="hov"><p><b>WE ARE HERE TO HELP!</b></p></li>
                    <li class="hov"><a href="#">FAQ</a></li>
                </div>
                <div class="contact">
                    <li><p><b>24/7 CUSTOMER SUPPORT</b></p></li>
                    <li><span><p style="color: white;">+8801XXXXXXXXX</p></span></li>
                </div>
            </ul>
            <ul>
                <p><b>KNOW US BETTER</b></p>
                <li class="hov"><a href="#">About us</a></li>
                <li class="hov"><a href="#">News</a></li>
                <li class="hov"><a href="#">Privacy Policy</a></li>
                <li class="hov"><a href="#">Shipping Rates & Policies</a></li>
                <li class="hov"><a href="#">Terms and conditions</a></li>
                <li class="hov"><a href="#">Return and Refund Policy</a></li>
                <li class="hov"><a href="#">Taxes & Import duties</a></li>
            </ul>
            <ul>
                <p><b>MAKE MONEY WITH US</b></p>
                <li class="hov"><a href="#">Sell on logeachi.com</a></li>
                <li class="hov"><a href="#">Seller terms & conditions</a></li>
                <li>
                    <button class="sub-btn">Subscribe</button>
                </li>
            </ul>
        </div>
        <div class="ss">
            <img src="../../static/assets/images/SSL.png">
        </div>
        <!-- <div class="line">
            <hr>
        </div> -->
    </div>
    <div class="copyright">
        <p> © All Rights Reserved | logeachi.com</p>
    </div>
</footer>