<footer class="footer">
    <div class="footer-container">
      <div class="footer-top">
        <div class="row-1">
          <h4 class="h-1">BRAND DIRECTORY</h4>
          <span>FASHION :</span> <span><a class="ho" href="#"> T-Shirts </a> </span> | <span><a class="ho" href="#"> Shirts </a> </span> | <span><a class="ho"  href="#">Shorts & Jeans</a></span> | <span> <a  class="ho" href="#">Jacket</a>
              </span> | <span> <a class="ho" href="#">Dress & Frock</a> </span> | <span><a class="ho" href="#">Innerwear</a></span> | <span><a class="ho" href="#">Hosiery</a></span> <br>
            
          <span>FOOTWEAR :</span> <span><a class="ho" href="#">Sport</a> </span> | <span><a  class="ho" href="#">Formal</a> </span> | <span><a
            class="ho" href="#">Boots</a></span> | <span> <a class="ho" href="#">Casual</a>
              </span> | <span> <a class="ho" href="#">Cowboy Shoes</a> </span> | <span><a class="ho" href="#">Party Wear Shoes</a></span> | <span><a
                class="ho" href="#">Firstcopy</a></span> <br>
            
          <span>JEWELLERY :</span> <span><a class="ho" href="#">Necklace</a> </span> | <span><a class="ho" href="#">Earrings</a> </span> |<span><a  class="ho" href="#">Couple Rings</a></span> | <span> <a class="ho" href="#">Pendants</a>
                      </span> | <span> <a class="ho" href="#">Crystal</a> </span> | <span><a class="ho" href="#">Bangles</a></span> | <span><a class="ho" href="#">Bracelets</a></span> <br>
            
          <span>COSMETICS :</span> <span><a class="ho" href="#">Shampoo</a> </span> | <span><a class="ho" href="#">Bodywash</a> </span> | <span><a class="ho" href="#">Facewash</a></span> | <span> <a class="ho" href="#">Makeup Kit</a>
          </span> | <span> <a class="ho" href="#">Liner</a> </span> | <span><a class="ho" href="#">Lipstick</a></span> | <span><a class="ho" href="#">Body
            Soap</a></span> <br>
        </div>          
      </div>

      <div class="footer-bottom">
        <div class="footer-col">
          <h4 class="h-1"">Company</h4>
          <ul>
            <li><a class="ho" href="#">about us</a></li>
            <li><a class="ho" href="#">our services</a></li>
            <li><a class="ho" href="#">privacy policy</a></li>
            <li><a class="ho" href="#">affiliate program</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4 class="h-1">Get help</h4>
            <ul>
              <li></li><a class="ho" href="#">FAQ</a></li>
              <li><a class="ho" href="#">shipping</a></li>
              <li><a class="ho" href="#">returns</a></li>
              <li><a class="ho" href="#">order status</a></li>
              <li><a class="ho" href="#">payment options</a></li>
            </ul>
        </div>
        <div class="footer-col">
          <h4 class="h-1">Hot deals</h4>
          <ul>
            <li><a class="ho" href="#">watch</a></li>
            <li><a class="ho" href="#">bag</a></li>
            <li><a class="ho" href="#">shoes</a></li>
            <li><a class="ho" href="#">dress</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4 class="h-1">Contact us</h4>
          <ul>
            <li>+880XXXXXXX</li>
            <li>logeachi@support.com</li>
            <li>Dhaka,Bangladesh</li>
          </ul>
        </div>
        <div class="footer-col">
          <h4 class="h-1">Follow us</h4>
          <div class="social-links">
            <br>
            <a href="#" class="fa fa-facebook" style="color: black;"></a>
            <a href="#" class="fa fa-twitter" style="color: black;"></a>
            <a href="#" class="fa fa-instagram" style="color: black;"></a>
          </div>
        </div>
      </div>
      <img class="payment-img" src="../static/assets/images/payment.png" alt="payment-logo" >
      <br>
      <p class="copyright">
        Copyright &copy;logeachi.com all rights reserved.
      </p>
      <br>
    </div>
  </footer>