{% load static %}
<div class="banner">
  <div class="container">
    <div class="slider-container has-scrollbar">
      {% if sliders %}
        {% for slider in sliders %}
          <div class="slider-item">
            <img src="{{slider.banner_image.url}}" alt="{{slider.banner_name}}" class="banner-img"/>
            <div class="banner-content">
              <p class="banner-subtitle">Trending item</p>
              <h2 class="banner-title">Women's latest fashion sale</h2>
              <p class="banner-text">starting at &dollar; <b>20</b>.00</p>
              <a href="#" class="banner-btn">Shop now</a>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

