{% extends 'base.html' %}
{% load static %}

{% block message_content %}
    {% include 'include/message.html' %}
{% endblock message_content %}

{% block main_app %}
    {% include 'include/header.html' %}
    <!--====== App Content ======-->
    <div class="app-content">

        <br><br><br>
        <!--====== Section 2 ======-->
        <!-- <div class="u-s-p-b-60"> -->

            <!--====== Section Content ======-->
            <!-- <div class="section__content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="g-map">
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!--====== End - Section Content ======-->
        <!-- </div> -->
        <!--====== End - Section 2 ======-->


        <!--====== Section 3 ======-->
        <div class="u-s-p-b-60">

            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 u-s-m-b-30">
                            <div class="contact-o u-h-100">
                                <div class="contact-o__wrap">
                                    <div class="contact-o__icon"><i class="fas fa-phone-volume"></i></div>

                                    <span class="contact-o__info-text-1">LET'S HAVE A CALL</span>

                                    <span class="contact-o__info-text-2">+880 9638098861</span>

                                    <span class="contact-o__info-text-2">+880 9696395268</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 u-s-m-b-30">
                            <div class="contact-o u-h-100">
                                <div class="contact-o__wrap">
                                    <div class="contact-o__icon"><i class="fas fa-map-marker-alt"></i></div>

                                    <span class="contact-o__info-text-1">OUR LOCATION</span>

                                    <span class="contact-o__info-text-2">Asfia Tower, Rd No. 11, Dhaka 1213</span>

                                    <span class="contact-o__info-text-2">Bangladesh</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 u-s-m-b-30">
                            <div class="contact-o u-h-100">
                                <div class="contact-o__wrap">
                                    <div class="contact-o__icon"><i class="far fa-clock"></i></div>

                                    <span class="contact-o__info-text-1">WORK TIME</span>

                                    <span class="contact-o__info-text-2">Saturday to Thursday</span>

                                    <span class="contact-o__info-text-2">From 9 AM to 7 PM</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section Content ======-->
        </div>
        <!--====== End - Section 3 ======-->


        <!--====== Section 4 ======-->
        <div class="u-s-p-b-60">

            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="contact-area u-h-100">
                                <div class="contact-area__heading">
                                    <h2>Send Query</h2>
                                </div>
                                <form class="contact-f" method="POST" action="{% url 'send_query' %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 u-h-100">
                                            <div class="u-s-m-b-30">
                                                <label for="c-name"></label>
                                                <input name="name" class="input-text input-text--border-radius input-text--primary-style" type="text" id="c-name" placeholder="Name (Required)" required>
                                            </div>
                                            <div class="u-s-m-b-30">
                                                <label for="c-email"></label>
                                                <input name="email" class="input-text input-text--border-radius input-text--primary-style" type="email" id="c-email" placeholder="Email (Required)" required>
                                            </div>
                                            <div class="u-s-m-b-30">
                                                <label for="c-subject"></label>
                                                <input name="subject" class="input-text input-text--border-radius input-text--primary-style" type="text" id="c-subject" placeholder="Subject (Required)" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 u-h-100">
                                            <div class="u-s-m-b-30">
                                                <label for="c-message"></label>
                                                <textarea name="query_message" class="text-area text-area--border-radius text-area--primary-style" id="c-message" placeholder="Compose a Message (Required)" required></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <button class="btn btn--e-brand-b-2" type="submit">Send Query</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section Content ======-->
        </div>
        <!--====== End - Section 4 ======-->
    </div>
    <!--====== End - App Content ======-->
{% include 'include/footer.html' %}
{% endblock main_app %}
    