{% extends "base.html" %}
{% load static %}

{% block content %}
  
  <main>

    <!--
      - BANNER
    -->

    <div class="banner">

      <div class="container">

        <div class="slider-container has-scrollbar">

          <div class="slider-item">

            <img src="../../static/assets/images/banner-1.jpg" alt="women's latest fashion sale" class="banner-img">

            <div class="banner-content">

              <p class="banner-subtitle">Trending item</p>

              <h2 class="banner-title">Women's latest fashion sale</h2>

              <p class="banner-text">
                starting at &#2547; <b>700</b>
              </p>

              <a href="#" class="banner-btn">Shop now</a>

            </div>

          </div>

        </div>

      </div>

    </div>





    <!--
      - CATEGORY
    -->

    <div class="category">

      <div class="container">

        <div class="category-item-container has-scrollbar">

          <div class="category-item">

            <div class="category-img-box">
              <img src="../../static/assets/images/icons/dress.svg" alt="dress & frock" width="30">
            </div>

            <div class="category-content-box">

              <div class="category-content-flex">
                <h3 class="category-item-title">Dress & frock</h3>

                <p class="category-item-amount">(53)</p>
              </div>

              <a href="#" class="category-btn">Show all</a>

            </div>

          </div>

        </div>

      </div>

    </div>





    <!--
      - PRODUCT
    -->

    <div class="product-container">

      <div class="container">


        <!--
          - SIDEBAR
        -->

        <div class="sidebar  has-scrollbar" data-mobile-menu>

          <div class="sidebar-category">

            <div class="sidebar-top">
              <h2 class="sidebar-title">Category</h2>

              <button class="sidebar-close-btn" data-mobile-menu-close-btn>
                <ion-icon name="close-outline"></ion-icon>
              </button>
            </div>

            <ul class="sidebar-menu-category-list">

              <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>
                  <div class="menu-title-flex">
                    <p class="menu-title">Clothes</p>
                  </div>
                </button>

              </li>

            </ul>

          </div>

        </div>


        <div class="product-box">

          <!--
            - PRODUCT MINIMAL
          -->

          <div class="product-minimal">

            <div class="product-showcase">

              <h2 class="title">New Arrivals</h2>

              <div class="showcase-wrapper has-scrollbar">

                <div class="showcase-container">

                  <div class="showcase">

                    <a href="#" class="showcase-img-box">
                      <img src="../../static/assets/images/products/clothes-1.jpg" alt="relaxed short full sleeve t-shirt" width="70" class="showcase-img">
                    </a>

                    <div class="showcase-content">

                      <a href="#">
                        <h4 class="showcase-title">Relaxed Short full Sleeve T-Shirt</h4>
                      </a>

                      <a href="#" class="showcase-category">Clothes</a>

                      <div class="price-box">
                        <p class="price">&#2547 800</p>
                        <del>&#2547 678</del>
                      </div>

                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>



    <!--
    -CTA & SERVICE
    -->

    <div class="cta-service">
    
      <!--
        - CTA
      -->

      <div class="cta-container">

        <img src="../../static/assets/images/cta-banner.jpg" alt="summer collection" class="cta-banner">

        <a href="#" class="cta-content">

          <p class="discount">Upto 25% Discount</p>

          <h2 class="cta-title">Summer collection</h2>

          <p class="cta-text">Starting at &#2547 999</p>

          <button class="cta-btn">Shop now</button>

        </a>

      </div>

      <!--
        - SERVICE
      -->

      <div class="service">

        <h2 class="title">Our Services</h2>

        <div class="service-container">

          <a href="#" class="service-item">

            <div class="service-icon">
              <ion-icon name="boat-outline"></ion-icon>
            </div>

            <div class="service-content">

              <h3 class="service-title">Free Delivery</h3>
              <p class="service-desc">For Order Over &#2547 3000</p>

            </div>

          </a>

          <a href="#" class="service-item">
          
            <div class="service-icon">
              <ion-icon name="rocket-outline"></ion-icon>
            </div>
          
            <div class="service-content">
          
              <h3 class="service-title">Next Day delivery</h3>
              <p class="service-desc">Inside Dhaka Only</p>
          
            </div>
          
          </a>

          <a href="#" class="service-item">
          
            <div class="service-icon">
              <ion-icon name="call-outline"></ion-icon>
            </div>
          
            <div class="service-content">
          
              <h3 class="service-title">Best Online Support</h3>
              <p class="service-desc">Hours: 10AM - 11PM</p>
          
            </div>
          
          </a>

          <a href="#" class="service-item">
          
            <div class="service-icon">
              <ion-icon name="arrow-undo-outline"></ion-icon>
            </div>
          
            <div class="service-content">
          
              <h3 class="service-title">Return Policy</h3>
              <p class="service-desc">Easy & Free Return</p>
          
            </div>
          
          </a>

          <a href="#" class="service-item">
          
            <div class="service-icon">
              <ion-icon name="ticket-outline"></ion-icon>
            </div>
          
            <div class="service-content">
          
              <h3 class="service-title">Upto 10% cash back</h3>
              <p class="service-desc">For Order Over &#2547 10000</p>
          
            </div>
          
          </a>

        </div>

      </div>

    </div>
    
  </main>

{% endblock content %}