{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="shoppin-cart">
    <h2 style="display: flex; margin: auto; justify-content: center; padding-bottom: 20px;">Wishlist</h2>
    <div class="cart-container">
        <div class="cart-left">
            {% for item in wishlist %}
                <div class="cart-product-item wishlist-item">
                    <img src="{{item.product.image.url}}" alt="Product 1">
                    <div class="cart-product-details">
                        <h5>{{item.product.product_name}}</h5>
                        <p class="cart-product-price">{{item.product.price}}</p>
                    </div>
                    <form action="{% url 'addTOcart' %}">
                        <input type="hidden" name="pk" value="{{item.product.pk}}">
                        <button pid="{{item.product.pk}}" style="border-radius: 5px; width: 100px; background-color: rgb(0, 194, 0); height: 30px;" class="wishlist-remove-btn">Add to Cart</button>
                    </form>
                    <form action="{% url 'remove-wishlist' %}">
                        <input type="hidden" name="pk" value="{{item.product.pk}}">
                        <button pid="{{item.product.pk}}" class="remove-btn" >
                            Remove
                        </button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
