{% extends 'customer/user_dashboard.html' %}
{% load static %}

{% block user_dashboard_content %}
    
<div class="col-lg-9 col-md-12">
    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
        <div class="dash__pad-3" >
            <div class="testimonial">
                <div class="testimonial__img-wrap">
                    {% if user.user_image %}
                        <img class="testimonial__img" src="{{ user.user_image.url }}" alt="Feedback Customer">
                        {% else %}
                            {% if user.gender == 'male' or user.gender == 'Male' %}
                                <img class="testimonial__img" src="{% static 'assets/images/male.png' %}" alt="Default Image">
                                {% else %}
                                    <img class="testimonial__img" src="{% static 'assets/images/female.png' %}" alt="Default Image">
                            {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="dash__pad-2">
            <h1 class="dash__h1 u-s-m-b-14">Manage Account</h1>

            <span class="dash__text u-s-m-b-30">From your Account Dashboard you have the ability to view a snapshot of your recent account activity and update your account information. Select a link below to view or edit information.</span>
            <div class="row">
                <div class="col-lg-4 u-s-m-b-30">
                    <div class="dash__box dash__box--bg-grey dash__box--shadow-2 u-h-100">
                        <div class="dash__pad-3">
                            <h2 class="dash__h2 u-s-m-b-8">PERSONAL PROFILE</h2>
                            <div class="dash__link dash__link--secondary u-s-m-b-8">

                                <a href="{% url 'profile' %}">Edit</a></div>

                            <span class="dash__text">{{user.first_name}} {{user.last_name}}</span>

                            <span class="dash__text">{{user.email}}</span>
                            <div class="dash__link dash__link--secondary u-s-m-t-8">
                                <a href="{% url 'join_newsletter' %}" data-modal="modal" data-modal-id="#dash-newsletter">Subscribe Newsletter</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 u-s-m-b-30">
                    <div class="dash__box dash__box--bg-grey dash__box--shadow-2 u-h-100">
                        <div class="dash__pad-3">
                            {% with default_shipping_address=user.get_default_shipping_address %}
                                {% if default_shipping_address %}
                                    <h2 class="dash__h2 u-s-m-b-8">SHIPPING ADDRESS</h2>
                                    <span class="dash__text-2 u-s-m-b-8">Default Shipping Address</span>
                                    <div class="dash__link dash__link--secondary u-s-m-b-8">
                                        <a href="{% url 'address_book' %}">Edit</a>
                                    </div>
                                    <span class="dash__text">{{ default_shipping_address.first_name }} {{ default_shipping_address.last_name }}</span>
                                    <span class="dash__text">{{default_shipping_address.details_address}}, {{default_shipping_address.thana}}, 
                                        {{default_shipping_address.zila}}, {{default_shipping_address.postal_code}}, {{default_shipping_address.country}}
                                    </span>
                                    <span class="dash__text">{{ default_shipping_address.phone_number }}</span>
                                    {% else %}
                                        <span class="dash__text">No default shipping address found.</span>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 u-s-m-b-30">
                    <div class="dash__box dash__box--bg-grey dash__box--shadow-2 u-h-100">
                        <div class="dash__pad-3">
                            {% with default_billing_address=user.get_default_billing_address %}
                                {% if default_billing_address %}
                                    <h2 class="dash__h2 u-s-m-b-8">SHIPPING ADDRESS</h2>
                                    <span class="dash__text-2 u-s-m-b-8">Default Shipping Address</span>
                                    <div class="dash__link dash__link--secondary u-s-m-b-8">
                                        <a href="{% url 'address_book' %}">Edit</a>
                                    </div>
                                    <span class="dash__text">{{ default_billing_address.first_name }} {{ default_billing_address.last_name }}</span>
                                    <span class="dash__text">{{default_billing_address.details_address}}, {{default_billing_address.thana}}, 
                                        {{default_billing_address.zila}}, {{default_billing_address.postal_code}}, {{default_billing_address.country}}
                                    </span>
                                    <span class="dash__text">{{ default_billing_address.phone_number }}</span>
                                    {% else %}
                                        <span class="dash__text">No default billing address found.</span>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dash__box dash__box--shadow dash__box--bg-white dash__box--radius">
        <h2 class="dash__h2 u-s-p-xy-20">RECENT ORDERS</h2>
        <div class="dash__table-wrap gl-scroll">
            <table class="dash__table">
                <thead>
                    <tr>
                        <th>Order #</th>
                        <th>Placed On</th>
                        <th>Items</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{order.id}} </td>
                            <td>{{order.created_at}} </td>
                            <td>
                                <div class="dash__table-img-wrap">
                                    {% if order.order_items.all %}
                                        {% with first_order_item=order.order_items.first %}
                                            {% with product=first_order_item.product %}
                                                <img class="u-img-fluid" src="{{ product.product_image.url }}" alt="">
                                            {% endwith %}
                                        {% endwith %}
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <div class="dash__table-total">
                                    <span>&#2547; {{order.calculate_total}}</span>
                                    <div class="dash__link dash__link--brand">
                                        <a href="{% url 'order_manage' order.id %}">MANAGE</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock user_dashboard_content %}
    