{% extends 'customer/user_dashboard.html' %}


{% block user_dashboard_content %}
<div class="col-lg-9 col-md-12">
    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
        <div class="dash__pad-2">
            <h1 class="dash__h1 u-s-m-b-14">My Orders</h1>

            <span class="dash__text u-s-m-b-30">Here you can see all products that have been placed.</span>
            <div class="m-order u-s-m-b-30">
                <div class="m-order__select-wrapper">
                    <label class="u-s-m-r-8" for="my-order-sort">Show: {{user.order_count}} orders</label>
                </div>
            </div>
            <div class="m-order__list">
                {% for order in orders %}
                    <div class="m-order__get">
                        <div class="manage-o__header u-s-m-b-30">
                            <div class="dash-l-r">
                                <div>
                                    <div class="manage-o__text-2 u-c-secondary">Order #{{order.id}} </div>
                                    <div class="manage-o__text u-c-silver">Placed on {{order.created_at}} </div>
                                </div>
                                <div>
                                    <div class="dash__link dash__link--brand">

                                        <a href="{% url 'order_manage' order.id %}">MANAGE</a></div>
                                </div>
                            </div>
                        </div>
                        {% for order_item in order.order_items.all %}
                        <div class="manage-o__description">
                            <div class="description__container">
                                <div class="description__img-wrap">
                                    <img class="u-img-fluid" src="{{order_item.product.product_image.url}}" alt="">
                                </div>
                                <div class="description-title">{{order_item.product.product_name}}</div>
                            </div>
                            <div class="description__info-wrap">
                                <div>
                                    <span class="manage-o__badge badge--processing">{{order.order_status}}</span>
                                </div>
                                <div>
                                    <span class="manage-o__text-2 u-c-silver">Quantity:
                                        <span class="manage-o__text-2 u-c-secondary">{{order_item.quantity}} </span>
                                    </span>
                                </div>
                                <div>
                                    <span class="manage-o__text-2 u-c-silver">Sub Total:
                                        <span class="manage-o__text-2 u-c-secondary">&#2547; {{order_item.subtotal}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        {% endfor %}
                        <span class="manage-o__text-2 u-c-silver" style="display:flex; justify-content:right;">Total: &#2547; {{ order.calculate_total }}</span>
                    </div>
                {% endfor %}
            </div>
            <div class="u-s-p-y-60">
                {% if orders.has_other_pages %}
                
                

                <!--====== Pagination ======-->
                <ul class="shop-p__pagination">
                        {% if orders.has_previous %}
                        <li>
                            <li class="is-active">
                                <a href="?page=1">Fast</a>
                            </li>

                        </li>
                        <li> 
                            <a class="fa-solid fa-angles-left" href="?page={{ orders.previous_page_number }}"></a>
                        </li>
                        {% endif %}
                        <li>
                            <span>{{orders.number}} </span>
                        </li>
                        {% if  orders.has_next %}
                        <li>
                            
                            <a class="fa-solid fa-angles-right" href="?page={{ orders.next_page_number }}"></a>
                            <li class="is-active">
                                <a href="?page={{ orders.paginator.num_pages }}">Last</a>
                            </li>
                        </li>
                        {% endif %}
                    
                </ul>
                {% endif %}
                <!--====== End - Pagination ======-->
            </div>
        </div>
    </div>
</div>

{% endblock user_dashboard_content %}