{% extends "base.html" %}
{% load static %}

{% block content %}
    {% include 'include/header.html' %}

        <div class="product-main">

            <div class="product-grid">
            {% for product in products %}
                <div class="showcase">

                <div class="showcase-banner">

                    <img src="{{product.product_image.url}}" alt="Mens Winter Leathers Jackets" width="300" class="product-img default">
                    <img src="{{product.product_image.url}}" alt="Mens Winter Leathers Jackets" width="300" class="product-img hover">

                    <div class="showcase-actions">

                    <button class="btn-action">
                        <ion-icon name="heart-outline"></ion-icon>
                    </button>

                    <button class="btn-action">
                        <ion-icon name="eye-outline"></ion-icon>
                    </button>

                    <button class="btn-action">
                        <ion-icon name="repeat-outline"></ion-icon>
                    </button>

                    <button class="btn-action">
                        <ion-icon name="bag-add-outline"></ion-icon>
                    </button>

                    </div>

                </div>

                <div class="showcase-content">

                    <a href="#" class="showcase-category"> {{product.product_category}} </a>

                    <a href="#">
                    <h3 class="showcase-title"> {{product.product_name}} </h3>
                    </a>

                    <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                    </div>

                    <div class="price-box">
                    <p class="price">${{product.product_price}} </p>
                    </div>

                </div>

                </div>
            {% endfor %}

            </div>

        </div>
  


    {% include 'include/footer.html' %}


    {% comment %} <div class="product-container">
        <div class="container">
            <div class="product-box">
                <div class="product-card-container">
                    <div class="card-row">
                        {% for product in products %}
                            <div class="card-column">
                                <div class="product-card">
                                    <a href="{% url 'get_product' product.slug %}">
                                        <img  src="{{product.image.url}}" alt="Product Image">
                                        <!-- <h3 class="product-title">{{product.product_name}}</h3> -->
                                        <p class="product-title-particular">{{product.product_name}}</p>
                                    </a>
                                    <p class="product-price">
                                        &#2547 {{product.price}}
                                    </p>
                                    <form action="{% url 'addTOcart' %}">
                                        <input type="hidden" name="pk" value="{{product.pk}}">
                                        <button type="submit" class="add-to-cart-btn">
                                            Add to Cart           
                                        </button>
                                    </form>
                                    <form action="{% url 'addTOwishlist' %}">
                                        <input type="hidden" name="pk" value="{{product.pk}}">
                                        <button type="submit" class="add-to-wishlist-btn">
                                            Add to Wishlist
                                        </button>
                                    </form>                          
                                </div>
                            </div>
                        {% empty %}
                            <p>No products found.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% if products.has_other_pages %}
        <div class="pagination">
            <span class="step-links">
                {% if products.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ products.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current-page">
                    Page {{ products.number }} of {{ products.paginator.num_pages }}.
                </span>

                {% if products.has_next %}
                    <a href="?page={{ products.next_page_number }}">next</a>
                    <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %} {% endcomment %}

{% endblock content %}
