{% extends "base.html" %}
{% load static %}

{% block main_app %}
{% include "include/header.html" %}

<div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-90">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-12">
                            <div class="shop-w-master">
                                <h1 class="shop-w-master__heading u-s-m-b-30"><i class="fas fa-filter u-s-m-r-8"></i>

                                    <span>FILTERS</span></h1>
                                <div class="shop-w-master__sidebar">
                                    <div class="u-s-m-b-30">
                                        <div class="shop-w shop-w--style">
                                            <div class="shop-w__intro-wrap">
                                                <h1 class="shop-w__h">CATEGORY</h1>

                                                <span class="fas fa-minus shop-w__toggle" data-target="#s-category" data-toggle="collapse"></span>
                                            </div>
                                            <div class="shop-w__wrap collapse show" id="s-category">
                                                <ul class="shop-w__category-list gl-scroll">
                                                    {% for main_category in main_categories %}
                                                        <li class="has-list">

                                                            <a href="{% url "main_category_products" main_category.pk %}"> {{main_category.name}} </a>

                                                            <span class="category-list__text u-s-m-l-6">(23)</span>

                                                            <span class="js-shop-category-span is-expanded fas fa-plus u-s-m-l-6"></span>
                                                            <ul style="display:block">
                                                                {% for category in main_category.main_category.all %}
                                                                    <li class="has-list">

                                                                        <a href="{% url "category_products" category.pk %}"> {{category.name}} </a>

                                                                        <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                                                                        <ul>
                                                                            {% for sub_category in category.category.all %}
                                                                            <li>

                                                                                <a href="{% url "sub_category_products" sub_category.pk %}"> {{sub_category.name}} </a>
                                                                            </li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-12">
                            <div class="shop-p">
                                <div class="shop-p__toolbar u-s-m-b-30">
                                    <div class="shop-p__meta-wrap u-s-m-b-60">

                                        <span class="shop-p__meta-text-1">FOUND {{product_count}} RESULTS</span>
                                        <div class="shop-p__meta-text-2">

                                            <span>Related Searches:</span>
                                            {% if main_category %}
                                            <a class="gl-tag btn--e-brand-shadow" href="{% url 'main_category_products' main_category.pk %}"> {{main_category}} </a>
                                            {% endif %}
                                            {% if category %}
                                            <a class="gl-tag btn--e-brand-shadow" href="{% url 'category_products' category.pk %}"> {{category}} </a>
                                            {% endif %}
                                            {% if sub_category %}
                                            <a class="gl-tag btn--e-brand-shadow" href="{% url 'sub_category_products' sub_category.pk %}"> {{sub_category}} </a>
                                            {% endif %}
                                        </div>
                                    </div>

                                <div class="shop-p__collection">
                                    <div class="row is-grid-active">
                                        {% for product in products %}
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="product-m">
                                                <div class="product-m__thumb">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="{% url "single_product_page" product.pk %}">

                                                        <img class="aspect__img" src=" {{product.product_image.url}} " alt=""></a>
                                                    <div class="product-m__quick-look">

                                                        <a href="{% url 'single_product_page' product.pk %}" class="fas fa-search" data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick Look"></a></div>
                                                    <div class="product-m__add-cart">

                                                        <a href="{% url 'add_to_cart' product.pk %}" class="btn--e-brand" data-modal="modal" data-modal-id="#add-to-cart">Add to Cart</a></div>
                                                </div>
                                                <div class="product-m__content">
                                                    <div class="product-m__category">

                                                        <a href="{% url 'main_category_products' product.product_category.category.pk %}"> {{product.product_category.category.main_category}} </a></div>
                                                    <div class="product-m__name">

                                                        <a href="{% url "single_product_page" product.pk %}"> {{product.product_name}} </a></div>
                                                    <div class="product-m__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i>

                                                        <span class="product-m__review">(23)</span></div>
                                                    <div class="product-m__price">&#2547; {{product.product_price}} </div>
                                                    <div class="product-m__hover">
                                                        <div class="product-m__preview-description">

                                                            <span> {{product.product_description}} </span></div>
                                                        <div class="product-m__wishlist">

                                                            <a class="far fa-heart" href="{% url 'add_wishlist_item' product.pk %}" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="u-s-p-y-60">
                                    {% if products.has_other_pages %}
                                    
                                    
        
                                    <!--====== Pagination ======-->
                                    <ul class="shop-p__pagination">
                                            {% if products.has_previous %}
                                            <li>
                                                <li class="is-active">
                                                    <a href="?page=1">Fast</a>
                                                </li>
        
                                            </li>
                                            <li> 
                                                <a class="fa-solid fa-angles-left" href="?page={{ products.previous_page_number }}"></a>
                                            </li>
                                            {% endif %}
                                            <li>
                                                <span>{{products.number}} </span>
                                            </li>
                                            {% if  products.has_next %}
                                            <li>
                                                
                                                <a class="fa-solid fa-angles-right" href="?page={{ products.next_page_number }}"></a>
                                                <li class="is-active">
                                                    <a href="?page={{ products.paginator.num_pages }}">Last</a>
                                                </li>
                                            </li>
                                            {% endif %}
                                        
                                    </ul>
                                    {% endif %}
                                    <!--====== End - Pagination ======-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->
        </div>
{% include "include/footer.html" %}
{% endblock main_app %}