{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="product-page-container">
    {% for product in products %}
        <div class="product-page-images">
            <img class="product-page-image product-page-image-large" src="{{product.image.url}}" alt="{{product.slug}}">
            <div class="product-page-image-thumbnails">
                <img class="product-page-image-thumbnail" src="{{product.image.url}}" alt="{{product.slug}}"
                    data-image="large-image.jpg">
                <img class="product-page-image-thumbnail" src="{{product.image.url}}" alt="{{product.slug}}"
                    data-image="large-image2.jpg">
                <img class="product-page-image-thumbnail" src="{{product.image.url}}" alt="{{product.slug}}"
                    data-image="large-image3.jpg">
            </div>
        </div>
        <div class="product-page-details">
            <h1 class="product-page-name">{{product.product_name}}</h1>
            <div class="product-page-rating">
                <div class="product-page-star">&#9733;</div>
                <div class="product-page-rating-text">4.5 (25 reviews)</div>
            </div>
            {% if product.quantity %}
                <p class="product-page-availability">In stock</p>
                {% else %}
                <p class="product-page-availability" style="color: red;">Out stock</p>
            {% endif %}
            <div class="product-page-quantity-container">
                <button class="product-page-quantity-button product-page-quantity-decrease">&#8722;</button>
                <input class="product-page-quantity" type="text" value="1" readonly>
                <button class="product-page-quantity-button product-page-quantity-increase">&#43;</button>
            </div>
            <button class="product-page-buy-now-button">Buy Now</button>
            <form action="{% url 'addTOcart' %}">
                <input type="hidden" name="pk" value="{{product.pk}}">
                <button type="submit" class="product-page-add-to-cart-button">    
                    Add to Cart
                </button>
            </form>
            <form action="{% url 'addTOwishlist' %}">
                <input type="hidden" name="pk" value="{{product.pk}}">
                <button type="submit" class="product-page-add-to-cart-button">    
                    Add to Wishlist
                </button>
            </form>
            <h2 class="product-page-info-heading">Product Info</h2>
            <p class="product-page-info-text">{{product.product_description}}</p>
            <h2 class="product-page-description-heading">Product Description</h2>
            <!-- <p class="product-page-description-text">Lorem ipsum    dolor sit amet, consectetur adipiscing elit. Sed sed
                mauris nec nisi rutrum laoreet. Duis euismod euismod dolor, non bibendum nibh bibendum sit amet. Vivamus
                a dapibus odio, eget vehicula augue. Morbi porta sollicitudin quam, eu iaculis urna faucibus nec.
            </p>   -->
            <h2 class="product-page-size-heading">Size</h2>
            <p class="product-page-size-text">Small, Medium, Large</p>
            <h2 class="product-page-customer-review-heading">Customer Reviews</h2>
            <p class="product-page-customer-review-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                sed mauris nec nisi rutrum laoreet. Duis euismod euismod dolor, non bibendum nibh bibendum sit amet."
            </p>
        </div>
    {% endfor %}
    
</div>


{% endblock content %}