{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="shoppin-cart">

    <h2 style="display: flex; margin: auto; justify-content: center;
        padding-bottom: 20px;">Shopping Cart</h2>
      <div class="cart-container">
        <div class="cart-left">
          {% for item in cart %}
          <div class="cart-product-item">
            <img src="{{item.product.image.url}}" alt="Product
                    1">
            <div class="cart-product-details">
              <h5>{{item.product.product_name}}</h5>
              <p class="cart-product-price">&#2547  {{item.product.price}}</p>
              <div class="cart-product-quantity">
                <button pid="{{item.product.pk}}" class="qty-minus">
                  -
                </button>
                <span id="quantity">{{item.quantity}}</span>
                <button pid="{{item.product.pk}}" class="qty-plus">
                  +
                </button>
              </div>
            </div>
            <button pid="{{item.product.pk}}"  class="remove-btn">
              Remove
            </button>
          </div>
          {% endfor %}
        </div>
        <div class="cart-right">
            <div class="cart-total">
                <h2>Cart Total</h2>
                <div class="cart-subtotal">
                    <p>Subtotal</p>
                    <p id="total_ammount" class="cart-subtotal-amount">&#2547  {{total_ammount}}</p>
                </div>
                <div class="cart-shipping">
                    <p>Shipping</p>
                    <p class="shipping-amount">&#2547 {{shipping_cost}}</p>
                </div>
                <div class="coupon">
                    <label for="coupon-code">Apply Coupon</label>
                    <input type="text" id="coupon-code">
                    <button>Apply</button>
                </div>
                <div class="cart-total-amount">
                    <p>Total</p>
                    <p id="total_cost" class="cart-amount">&#2547  {{total_cost}}</p>
                </div>
                <button class="place-order">Place Order</button>
            </div>
        </div>
    </div>

</div>

{% endblock content %}