{% extends 'base.html' %}

{% block content %}
<div style="color: blue; font-size: large; margin: auto; display: flex;
    justify-content: center; align-items: center; font-weight: 500;">
    {% for item in OrderDetails %}
    <h2>Your Order has been Placed</h2><br>
    <p>Customer Name: {{item.customer.first_name}}</p><br>
    <p>Order date: {{item.order_date}}</p><br>
    <p>Shipping Address: {{item.shipping_address}}</p><br>
    <p>Shipping Cost: {{item.shipping_cost}}</p><br>
    <p>Total Cost: {{item.total_cost}}</p><br>
    {% endfor %}
</div>
{% endblock %}
