header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: aliceblue;
}

/* Styles for the header */

.header-container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f8f8f8;
}

.header-logo {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.search-button-container{
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.search-input {
  width: 300px;
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
}

.search-button {
  padding: 0.5rem;
  background-color: #ccc;
  border: none;
  border-radius: 3px;
  margin-left: -2.5rem;
  cursor: pointer;
}

.search-button:hover {
  background-color: #aaa;
}

.header-nav-container ul {
  display: flex;
  list-style: none;
}

.header-nav-container li {
  margin-left: 1rem;
}

.header-nav-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.header-nav-container a:hover {
  color: #aaa;
}

.header-nav-container i {
  margin-right: 0.5rem;
}

.header-alert-news-container {
  background-color: #333;
  padding: 0.5rem;
}


.fa-shopping-cart, .fa-home, 
.fa-heart, .fa-user, 
.fa-sign-in-alt{
  display: inline;
}