/* Styles for the body and container */
  
  .signup-container {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	margin: 50px auto;
	max-width: 400px;
	padding: 20px;
	font-family: sans-serif;
  }
  
  /* Styles for the form */
  .signup-form{
	display: flex;
	flex-direction: column;
  }
  
  .signup-title{
	text-align: center;
  }
  
  /* Styles for the input fields and label */
  label {
	margin-top: 10px;
  }

  .signup-row{
	display: flex;
	gap: 20px;
	padding-top: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
	border: none;
	border-radius: 3px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	padding: 10px;
	margin-top: 5px;
  }
  
  /* Styles for the sign-up button */
  .signup-btn{
	background-color: #4CAF50;
	border: none;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	padding: 10px;
	margin-top: 50px;
  }
  
  signin-btn:hover {
	background-color: #3e8e41;
  }
  
  /* Styles for the "Log In" option */
  .rmdr{
	margin-top: 20px;
	text-align: center;
  }
  
  .rtrn-signin {
	color: #4CAF50;
	text-decoration: none;
	display: inline;
  }
  
  .rtrn-signin:hover {
	text-decoration: underline;
  }



/* Styles for the newsletter subscription div */
.signup-newsletter {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust spacing between elements */
    margin-top: 10px; /* Adjust top margin as needed */
    font-size: 14px; /* Adjust font size as needed */
    color: #333; /* Adjust text color as needed */
}

.signup-newsletter label {
    margin: 0; /* Reset margin to 0 for the label */
}

.signup-newsletter input[type="checkbox"] {
    /* Add any custom styles for the checkbox here */
    /* Example styles: */
    width: 20px;
    height: 20px;
}

/* Optional: Style the checkbox when checked */
.signup-newsletter input[type="checkbox"]:checked + label::before {
    content: "✔"; /* Unicode checkmark character or custom checkmark */
    color: #4CAF50; /* Adjust color for checked checkbox */
    font-weight: bold;
}
