.whatsapp {
    display: block;
    font-size: 80px;
    position: absolute;
    background-color: none;
    color: rgb(0, 145, 0);
    transition: transform .10s;
}

.whatsapp:hover {
    transform: translateY(-15px);

}


.whatsapp-container {
    position: relative;
}

.whatsapp:hover:before {
    content: "Live chat with seller";
    position: absolute;
    width: 120px;
    font-size: large;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #333;
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
}

.whatsapp-container a {
    display: inline-block;
}