{% autoescape off %}
  
    Hi there,
    Hope you are doing well. It's time to join our team officaly. Please signup to this link
    to join our team as an admin. Enter your email address and signup credantial correctly.
    If you use this link once then you can't access it again.
    http://{{current_domain}}{% url 'admin_signup' uidb64=uid token=token %}
    This link will expire in 24 hours.

    We are waiting for you. Here we will explore your new skills and dreams.

    Best regards,
    The Logeachi Team
{% endautoescape %}