{% extends 'adminBase.html' %}
{% load static %}

{% block message_content %}
    {% include 'include/message.html' %}
{% endblock message_content %}

{% block admin_content %}
  <div class='admin-panel'>
    <div class="adminPanelsidebar">
      <div class="adminPanellogo-details">
        <a href="{% url 'admin_panel_dashboard' %}" class="no-underline" style="text-decoration: none;">
          <i class='bx bxs-bank'></i>
          <span class="adminPanellogo_name">Admin</span>
        </a>
      </div>
        <ul class="adminpanelnav-links">
          <li>
            <a href="{% url 'admin_panel_dashboard' %}" class="active">
              <i class='bx bx-grid-alt' ></i>
              <span class="adminPanellinks_name">Dashboard</span>
            </a>
          </li>
          <li>
            <a href="{% url 'orders' %}">
              <i class="fas fa-list-alt"></i>
              <span class="adminPanellinks_name">Orders</span>
            </a>
          </li>
          <li>
            <a href="{% url 'product_list' %}">
              <i class='bx bx-box' ></i>
              <span class="adminPanellinks_name">Products</span>
            </a>
          </li>
          <li>
            <a href="{% url 'feedbacks' %}">
              <i class="fas fa-comment"></i>
              <span class="adminPanellinks_name">Feedback</span>
            </a>
          </li>
          <li>
            <a href="{% url 'banners' %}">
              <i class="fas fa-exclamation-circle"></i>
              <span class="adminPanellinks_name">Deals & Events</span>
            </a>
          </li>
          <li>
            <a href="{% url 'blogs' %}">
              <i class="fas fa-blog"></i>
              <span class="adminPanellinks_name">Blogs</span>
            </a>
          </li>
          <li>
            <a href="{% url 'queries' %}">
              <i class='bx bx-book-alt'></i>
              <span class="adminPanellinks_name">Query</span>
            </a>
          </li>
          <li>
            <a href="{% url 'customer_list' %}">
              <i class='bx bx-user' ></i>
              <span class="adminPanellinks_name">Customer</span>
            </a>
          </li>
          <li>
            <a href="{% url 'team_member' %}">
              <i class='bx bx-user' ></i>
              <span class="adminPanellinks_name">Team</span>
            </a>
          </li>
          <li>
            <a href="{% url 'home' %}">
              <i class="fas fa-home"></i>
              <span class="adminPanellinks_name">Home</span>
            </a>
          </li>
          <li class="log_out">
            <a href="{% url 'signout' %}">
              <i class='bx bx-log-out'></i>
              <span class="adminPanellinks_name">Sign Out</span>
            </a>
          </li>
        </ul>
    </div>

    <section class="adminpanelhome-section">
      <nav>
        <div class="AdminPanelsidebar-button">
          <i class='bx bx-menu AdminPanelsidebarBtn'></i>
         <span class="adminPaneldashboard">Logeachi Admin Dashboard</span>
        </div>
        <!-- <div class="adminpanelsearch-box">
          <input type="text" placeholder="Search...">
          <i class='bx bx-search' ></i>
        </div> -->
        <div class="adminpanelprofile-details">
          
          {% if user.user_image %}
            <img src="{{user.user_image.url}}" alt="User Image">
            
            {% else %}

              {% if user.gender == 'male' %}
                  <img src="{% static 'assets/images/male.png' %}" alt="Default Image">

                {% else %}
                  <img src="{% static 'assets/images/female.png' %}" alt="Default Image">

              {% endif %}

          {% endif %}
            
        
          <span class="admin_name">{{user.first_name}}</span>
          <!-- <i class='bx bx-chevron-down' ></i> -->
        </div>
      </nav>

      
      {% block admin-panel-main-content %}
        
        

      {% endblock admin-panel-main-content %}
        
    </section>
  </div>
{% endblock admin_content %}


  