{% extends 'adminpanel/admin_panel.html' %}
{% load static %}


{% block admin-panel-main-content %}
<div class="adminpanelhome-content">
    {% if messages %}
        {% for message in messages %}
            <div class="form-alert">
                <span class="alert-closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <div class="product-add-page-container">
        <h1 class="product-add-page-container-title">Add Product</h1>
        <form id="product-form" enctype="multipart/form-data" action="{% url 'edit_product' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ product.id }}">
            <div class="product-add-page-form-group">
                <label class="product-add-page-form-label" for="product-name">Product Name</label>
                <input class="product-add-page-form-input" value="{{product.product_name}}" type="text" id="product-name" name="product_name" required>
            </div>
            <div class="product-add-page-form-group">
                <label class="product-add-page-form-label" for="product-image">Product Image</label>
                <img class="edit-product-page-product-current-img" src="{{ product.product_image.url }}" alt="Product Image">
                <input class="product-add-page-form-input" type="file" id="product-image" name="product_image" accept="image/*">
            </div>            
            <div class="product-add-page-form-group">
                <label class="product-add-page-form-label" for="product-brand">Product Brand</label>
                <input class="product-add-page-form-input" value="{{product.product_brand}}" type="text" id="product-brand" name="product_brand" required>
            </div>
            <div class="product-add-page-form-group">
                <label class="product-add-page-form-label" for="product-category">Product Category</label>
                <select class="product-add-page-form-select" id="product-category" name="product_category" required>
                    <option value="" disabled selected>{{product.product_category}}</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}" required>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="product-add-page-form-group">
                <label class="product-add-page-form-label" for="product-price">Product Price</label>
                <input class="product-add-page-form-input" value="{{product.product_price}}" type="number" id="product-price" name="product_price" required>
            </div>
            <div class="product-add-page-form-group">
                <label class="product-add-page-form-label" for="product-description">Product Description</label>
                <textarea class="product-add-page-form-textarea" id="product-description" name="product_description" required>{{product.product_description}}</textarea>
            </div>
            <div class="product-add-page-form-group">
                <label class="product-add-page-form-label" for="product-quantity">Product Quantity</label>
                <input class="product-add-page-form-input" value="{{product.product_quantity}}" type="number" id="product-quantity" name="product_quantity" required>
            </div>
            <div class="product-add-page-form-group">
                <label class="product-add-page-form-label" for="product-location">Product Location</label>
                <input class="product-add-page-form-input" value="{{product.product_location}}" type="text" id="product-location" name="product_location" required>
            </div>
            <div class="product-add-page-form-group">
                <label class="product-add-page-form-label">Product Warrenty</label>
                <input class="product-add-page-form-input" type="checkbox" id="product-warrenty" name="product_warrenty" {% if product.product_warrenty %} value="True" checked{% else %} value="False"{% endif %}>
            </div>
            <div class="product-add-page-form-group">
                <label class="product-add-page-form-label">Cash Payment</label>
                <input class="product-add-page-form-input" type="checkbox" id="product-cash-payment" name="product_cash_payment" {% if product.product_cash_payment %} value="True" checked{% else %} value="False"{% endif %}>
            </div>
            <div class="product-add-page-form-group">
                <label class="product-add-page-form-label">Online Payment</label>
                <input class="product-add-page-form-input" type="checkbox" id="product-online-payment" name="product_online_payment" {% if product.product_online_payment %} value="True" checked{% else %} value="False"{% endif %}>
            </div>
            <div class="product-add-page-form-group">
                <label class="product-add-page-form-label">Product Return</label>
                <input class="product-add-page-form-input" type="checkbox" id="product-return" name="product_return" {% if product.product_return %} value="True" checked{% else %} value="False"{% endif %}>
            </div>       
            
            <div class="product-add-page-form-group">
                <button class="product-add-page-form-add-product-btn" type="submit">Edit Product</button>
            </div>
        </form>
    </div>
</div>
{% endblock admin-panel-main-content %}