{% extends 'adminpanel/admin_panel.html' %}
{% load static %}


{% block message_content %}
    {% include 'include/message.html' %}
{% endblock message_content %}

{% block admin-panel-main-content %}
<div class="adminpanelhome-content">
    <div class="product-add-page-container">
        <h1 class="product-add-page-container-title">Edit Event</h1>
        <form class="add-product-form" id="product-form" enctype="multipart/form-data" action="{% url 'edit_event' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="event_id" value="{{ event.id }}">
            <div class="product-add-page-form-group">
                <label class="product-add-page-form-label" for="event-banner">Event Banner</label>
                <img class="edit-product-page-product-current-img" src="{{ event.event_banner.url }}" alt="Event Banner">
                <input class="product-add-page-form-input" type="file" id="event-banner" name="event_banner" accept="image/*" >
            </div>
            <div class="product-add-page-form-group">
                <label class="product-add-page-form-label" for="event-title">Event Title</label>
                <input class="product-add-page-form-input" type="text" id="event-title" name="event_title" value="{{event.event_title}}">
            </div>
            <div class="product-add-page-form-group">
                <label class="product-add-page-form-label" for="event-offer-title">Event Offer Title</label>
                <input class="product-add-page-form-input" type="text" id="event-offer-title" name="event_offer_title" value="{{event.event_offer_title}}">
            </div>
            <div class="product-add-page-form-group">
                <label class="product-add-page-form-label" for="event-offer">Event Offer</label>
                <input class="product-add-page-form-input" type="text" id="event-offer" name="event_offer" value="{{event.event_offer}}">
            </div>
            <div class="product-add-page-form-group">
                <label class="product-add-page-form-label" for="product-category">Event Product Category</label>
                <select class="product-add-page-form-select" id="product-category" name="sub_category_id" >
                    <option value="" disabled selected>{{event.event_product_category}}</option>
                    {% for sub_category in sub_categories %}
                    <option value="{{ sub_category.id }}" >{{ sub_category.name }}--{{ sub_category.category }}--{{ sub_category.category.main_category }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="product-add-page-form-group">
                <label class="product-add-page-form-label" for="event_date">Event Deadline (YYYY-MM-DD):</label>
                <input type="date" id="event-deadline" name="event_deadline" value="{{ event.event_deadline|date:'Y-m-d' }}">
            </div>          
            <div class="product-add-page-form-group-submit-btn">
                <button class="product-add-page-form-add-product-btn" type="submit">Update</button>
                <button style="margin-left: 20px;" class="product-add-page-form-cancel-btn" name="cancel">Cancel</button>
            </div>
        </form>
        <button class="go-back-btn" onclick="goBack()">Back</button>

    </div>
</div>
{% endblock admin-panel-main-content %}