{% extends 'adminpanel/admin_panel.html' %}
{% load static %}

{% block admin-panel-main-content %}
    <div class="adminpanelhome-content">
        {% if messages %}
            {% for message in messages %}
                <div class="form-alert">
                    <span class="alert-closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
        <div class="team-member-list-container">
            <h1>Team Member List</h1>
            <div class="admin-request-approve-button-container">
                <a href="{% url 'admin_request_list' %}">
                    <button class="admin-request-approve-button">Approve Admin Request</button>
                </a>
            </div>
            <div class="team-member-list-table-container">
                <table class="team-member-list-table-container-table">
                    <thead>
                        <tr class="team-member-list-table-container-table-row">
                            <th class="team-member-info-head">ID</th>
                            <th class="team-member-info-head">Name</th>
                            <th class="team-member-info-head">Email</th>
                            <th class="team-member-info-head">Gender</th>
                            <th class="team-member-info-head">Admin Request</th>
                            <th class="team-member-info-head">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for team_member in team_members %}
                            <tr class="team-member-list-table-container-table-row">
                                <td class="team-member-info">{{team_member.id}}</td>
                                <td class="team-member-info">{{team_member.first_name}}</td>
                                <td class="team-member-info">{{team_member.email}}</td>
                                <td class="team-member-info">{{team_member.gender}}</td>
                                <td class="team-member-info">{{team_member.admin_request}}</td>
                                <td class="team-member-action-buttons">
                                    <form action="{% url 'remove_user' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{ team_member.id }}">
                                        <input type="hidden" name="email" value="{{ team_member.email }}">
                                        <button class="team-member-remove-button" title="Delete User"><i class="fas fa-trash"></i></button>
                                    </form>
                                    
                                    <form action="{% url 'remove_admin' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{ team_member.id }}">
                                        <input type="hidden" name="email" value="{{ team_member.email }}">
                                        <button class="team-member-remove-button" title="Remove admin"><i class="fa fa-user-times"></i></button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                            
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock admin-panel-main-content %}
