.address-registration-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 5px;
}

.address-registration-form-header {
  margin-top: 0;
}

label {
  font-weight: bold;
}

.form-input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-input:focus {
  outline: none;
  border-color: #4a90e2;
}

.form-submit-button,
.form-cancel-button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.form-submit-button {
  background-color: #4a90e2;
}

.form-submit-button:hover {
  background-color: #3177b2;
}

.form-cancel-button {
  background-color: #aaa;
}

.form-cancel-button:hover {
  background-color: #999;
}
  
