.shoppin-cart {
    display: block;
    justify-content: center;
    padding: 20px;
}

.cart-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 10px auto;
}

.cart-left {
    width: 65%;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px silver solid;
}

.cart-right {
    width: 30%;
    background-color: #f8f8f8;
    padding: 20px;
    border: 1px silver solid;
    margin-left: 5px;
}

.cart-product-item {
    display: flex;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 5px;
    border: 1px silver solid;
    align-items: center;
}

.cart-product-item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.cart-product-details {
    display: flex;
    margin: auto;
    padding: 30px;
    justify-content: space-between;
}

.cart-product-details h5 {
    font-size: 15px;
    margin: 0;
    margin-left: 50px;
    margin-bottom: 10px;
}

.cart-product-price {
    font-weight: bold;
    margin: 0;
    margin-left: 30px;
    margin-right: 50px;
    margin-bottom: 10px;
}

.cart-product-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.qty-minus,
.qty-plus {
    font-size: 18px;
    padding: 5px 10px;
    border: none;
    background-color: #f8f8f8;
    cursor: pointer;
    border-radius: 5px;
}

.qty-minus:hover{
    background-color: #ff0000;
    transition: 0.5s;
}
.qty-plus:hover {
    background-color: #00d40b;
    transition: 0.5s;
}

.qty-input {
    width: 40px;
    text-align: center;
    border: none;
}

.remove-btn {
    border: none;
    height: 30px;
    width: 70px;
    margin-left: 30px;
    cursor: pointer;
    border-radius: 5px;
}

.remove-btn:hover {
    background-color: #b20000;
    transition: 0.5s;
}

.cart-total {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
}

.cart-total h2 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 20px;
}

.cart-subtotal,
.cart-shipping,
.coupon,
.cart-total-amount {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-subtotal-amount,
.cart-shipping-amount,
.cart-amount {
    font-weight: bold;
}

.coupon {
    width: 80%;
}

.coupon label {
    display: inline-block;
    margin-right: 10px;
    border-radius: 5px
}

.coupon input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
}

.coupon button {
    border: none;
    background-color: #f8f8f8;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.coupon button:hover {
    background-color: #ccc;
    transition: 0.5s;
}

.place-order {
    display: block;
    width: 100%;
    margin-top: 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.place-order:hover {
    background-color: #004a09;
    transition: 0.5s;
}