.checkout-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.checkout-title {
  font-size: 32px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.checkout-container-items {
  display: flex;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.checkout-header {
  font-size: 24px;
  margin-bottom: 10px;
}

.checkout-cart-items-table {
  width: 100%;
  border-collapse: collapse;
}

.checkout-cart-items-table-row {
  border-bottom: 1px solid #ddd;
}

.checkout-cart-items-table-header {
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

.checkout-cart-items-table-data {
  padding: 10px;
  text-align: left;
}

.shipping-address label {
  display: block;
  margin-bottom: 10px;
}

.shipping-address-select-btn {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.selected-address-info {
  margin-bottom: 10px;
}

.order-summary-info {
  margin-bottom: 10px;
}

.place-order-btn {
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: right;
  background-color: #002e5f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.place-order-btn:hover{
  background-color: #007bff;
}
