{% extends "base.html" %}
{% load static %}

{% block content %}

    <form method="POST" action="{% url 'add-address' %}" class="address-registration-form">
        {% csrf_token %}
        <h2 class="address-registration-form-header">Add New Address</h2>
        <label for="fullname">Full Name:</label>
        <input type="text" id="fullname" name="fullname" class="form-input" required>
        
        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone" class="form-input" pattern="[0-9]{10}" required>
        
        <label for="city">City:</label>
        <input type="text" id="city" name="city" class="form-input" required>
        
        <label for="thana">Thana:</label>
        <input type="text" id="thana" name="thana" class="form-input" required>
        
        <label for="address">Detail Address:</label>
        <textarea id="address" name="address" class="form-input" required></textarea>
        
        <label for="postalcode">Postal Code:</label>
        <input type="text" id="postalcode" name="postalcode" class="form-input" required>
        
        <div class="form-buttons">
            <button type="submit" class="form-submit-button">Submit</button>
            <button type="button" class="form-cancel-button">Cancel</button>
        </div>
    </form>


{% endblock content %}

