/* Container for the entire team member list */
.team-member-list-container {
    padding: 20px;
  }
  
  /* Header style for the h1 tag */
  .team-member-list-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Container for the admin request approve button */
  .admin-request-approve-button-container{
    display: flex;
    flex-direction: row;
    justify-content: left; /* Align button to the left */
    margin-bottom: 10px;
  }
  
  /* Style for the admin request approve button */
  .admin-request-approve-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
  }
  
  .admin-request-approve-button:hover {
    background-color: #0056b3;
  }
  
  /* Container for the team member list table */
  .team-member-list-table-container {
    overflow-x: auto; /* Add horizontal scrollbar if needed */
  }
  
  /* Style for the team member list table */
  .team-member-list-table-container-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  /* Style for table headers */
  .team-member-list-table-container-table th {
    background-color: #ffffff;
    font-weight: bold;
    text-align: left;
    padding: 10px;
  }
  
  /* Style for table rows */
  .team-member-list-table-container-table tr {
    border-bottom: 1px solid #000000;
  }
  
  /* Style for table data cells */
  .team-member-info {
    padding: 10px;
  }
  
  /* Style for the action buttons */
  .team-member-action-buttons {
    display: flex;
    justify-content: center;
  }
  
  /* Style for the remove buttons with icons */
  .team-member-remove-button {
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    margin: 0 5px; /* Add margin between buttons */
    font-size: 16px;
    cursor: pointer;
    margin-top: 7px;
  }
  
  .team-member-remove-button:hover {
    background-color: #ff3b3b;
  }

  .admin-request-approve-button{
    background-color: #42c010;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    margin: 0 5px; /* Add margin between buttons */
    font-size: 16px;
    cursor: pointer;
    margin-top: 7px;
  }

.admin-request-decline-button{
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: none;
  margin: 0 5px; /* Add margin between buttons */
  font-size: 16px;
  cursor: pointer;
  margin-top: 7px;

}

.admin-request-approve-button:hover{
  background-color: #1a5503;
}

.admin-request-decline-button:hover{
  background-color: #812002;
}

